<div class="left"><%=render :partial => "settings/left"%></div>
<div class="center">
  <h1>ユーザーグループの編集/h1>
  <div>
    <%=form_tag("/setting/usergroups",method: "post") do%>
      <div class="form-group">
        <%=label_tag "グループ名"%>
        <%=text_field("usergroup","name",{placeholder: "グループ名(重複不可)"})%><br/>
      </div>
      <p>グループに入れたいユーザーにチェックしてください</p></br>
      <table class="table">
        <tr><td></td><td>名前</td><td>一言</td></tr>
        <%@users.each do |user|%>
          <tr>
            <%flag_ = @usergroup.users.ids.include?(user.id)%>
            <td><%=check_box("usergroup","check_id",{:checked=>flag_,:multiple=> true},user.id.to_s,nil)%></td>
            <td><%=user.name%></td>
            <td><%=user.description%></td>
          </tr>
        <%end%>
      </table>
      <%=submit_tag "登録"%>
    <%end%>
  </div>
</div>
