<div class="left"><%=render :partial => "pages/left"%></div>
<div class="center">
  <div><%=render :partial => "pages/pankuzu"%></div>
  <div>
  <%if @page == nil%>
    <%if user_signed_in?%>
      <%#=button_to "新規作成",{:action=>"index",:new=>"1"},:method=>"get",:class=>"btn btn-primary" %>
      <button onClick=window.location.href="?new=1" class="btn btn-primary">新規作成</button>
    <%end%>
  <%else%>
    <h2><%=@page.title%></h2>
    <%user = User.find_by(id:@page.last_edit_user_id)%>
    <p>last edited by <%=if user then user.name else "???" end%> <%=@page.updated_at.to_s%></p>
    <!--<input type="button" class="btn btn-default" onClick="location.href='<%=@path+"edit"%>'" value="編集">-->
    <%#button_to "削除",{:method=>"delete"},{:class=>"btn btn-default"} %>
    <%if @editable && @readable%>
      <div>
        <div style= "float:left;">
          <button onClick=window.location.href="?edit=1" class="btn btn-default">編集</button>
          <%#=button_to "編集",{:action => "edit"},:class=>"btn btn-default" %>
        </div><div style= "float:right;">
          <%=button_to "削除",{:action => "destroy"},:class=>"btn btn-danger",:method=>:delete  %>
        </div>
      </div>
    <%end%>
  <%end%>
  </div><br><br>
  <div>
  <%#=image_tag url_for(:action => 'puts_image')%>
  <%if false%>
    <%@page.uploadfiles.each do |f|%>
      <img src="/setting/files<%=@path+'/'+f.file_name%>">
    <%end%>
    <%#if @page.files.attached?%>
      <%#@page.files.each do|file|%>
        <%#=image_tag file%>
      <%#end%>
    <%#end%>
  <%end%>
  <div><%=raw @content%></div>
  <div>
    <%if @readable%>
      <p><b>コメント</b></p>
      <table class="table">
      <%@page.comments.each do |comment|%>
        <tr><td>
        <p>ユーザー名 <%=comment.user.name%> 投稿日時:<%=comment.updated_at.to_s%></p>
        <%=raw comment.comment%>
        <%if user_signed_in?&&(@editable||comment.user.id==current_user.id)%>
          <%=button_to("削除",{:action =>"destroy",:comment_id=>comment.id},:method=>:delete,:class=>"btn btn-default")%>
        <%end%>
        </td></tr>
      <%end%>
      </table>
      <%if user_signed_in?%>
        <%=form_tag do%>
          <%=text_area_tag "comment","",placeholder:"コメント",:class=>"form-control"%>
          <%=submit_tag '投稿',:class=>"btn btn-primary"%>
        <%end%>
      <%end%>
      <b>添付ファイル</b><br>
      <div><%if @editable%>
        <%=form_tag('',method: :post,authenticity_token: true, remote: true,multipart: true) do%>
          <%=file_field_tag :files,{:multiple => false}%>
          <%=submit_tag 'アップロード',:class =>"btn btn-primary"%>
        <%end%>
      <%end%></div>
      <%if @readable%>
        <div>
          <%@page.uploadfiles.each do |file|%>
            <%filepath=file.file_name%>
            <%=link_to file.file_name,filepath,target: :_blank%>
          <%end%>
        </div><div>
          <p><b>変更履歴</b></p>
          <%@page.updatehistorys.limit(10).reverse_each do |hist|%>
            <p>
              <%=hist.update_time.to_s%><br>
              <%user = hist.user#User.find_by(id:hist.user_id)%>
              edited by <%=if user then user.name else "???"end%>
            </p>
          <%end%>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
</div>
<div class="right"><%=render :partial => "pages/right"%></div>