<div class="left"><%=render :partial => "settings/left"%></div>
<div class="center">
<table class = "table">
<tr><td>ユーザー名</td><td>メールアドレス</td><td>ロック</td></tr>
<%@users.each do |user|%>
  <tr>
    <td><%=user.name%></td>
    <td><%=user.email%></td>
    <td>
      <%if user.access_locked?%>
        <%=button_to("ロック解除",{:action =>"update",:user_id=>user.id,:lock=>"false"},:class=>"btn btn-primary",:method=>:put)%>
      <%else%>
        <%=button_to("ロック",{:action =>"update",:user_id=>user.id,:lock=>"true"},:class=>"btn btn-danger",:method=>:put)%>
      <%end%>
    </td>
  </tr>
<%end%>
</table>
</div>