<!DOCTYPE html>
<html>
  <head>
    <title>KokenWiki</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>
    <!--<%#if @alert %>
      <div style = "color:0000FF;"><%=@alert%></div>
    <%#end%>-->
    <div class="clearfix">
      <%= yield%>
    </div>    
    <%= render partial: "layouts/footer" %>
  </body>
</html>
